/* .formButton {
  display: flex;
  width: 200px;
  height: 50px;
  margin: 0;
  line-height: 50px;
  text-align: center;
  background: #0a9887;
  color: #fff;
  font-size: 17px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  border-radius: 12px;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.formButton:hover {
  background: #0abba6;
}

.formButtonUploading {
  background: #095950;
  color: #858585;
}

.formButtonUploading:hover {
  border: none;
}

.convertButton {
  background: #0a9887;
} */

.container {
  display: flex;
  justify-content: center;
}

.fileUpload {
  display: none;
}

@media (max-width: 1000px) {
  
  .space {
    margin-bottom: 55px;
  }

}