#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  width: 100vw;
  /* padding: 2rem; */
  text-align: center;
}

.App {
  height: 100vh;
  /* min-height: 500px */
}

header {
  background-color: #222222;
  /* width: 100vw; */
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;

}

header h1 {
  font-size: 30px;
  margin: 0;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  min-height: 560px;
  height: 80%;
}

@media (min-height: 680px) {
  .preview {
    width: 270px;
    height: 270px;
  }

  .preview .preview-conteiner-btn-exit {
    width: 270px;
    height: 270px;
  }

  .preview img {
    max-width: 270px;
    max-height: 270px;
  }

  main {
    height: 650px;

  }
}

@media (min-height: 900px) {
  .preview {
    width: 337px;
    height: 337px;
  }

  .preview .preview-conteiner-btn-exit {
    width: 337px;
    height: 337px;
  }

  .preview img {
    max-width: 337px;
    max-height: 337px;
  }

  main {
    height: 770px;

  }
}